<section>
    <h2>
        Author
    </h2>

    <p>
        This Web Site has been created by <strong>me</strong>
    </p>

    <img src="/images/fotoperfil.jpeg" width="200"/>

    <p>
        Esta es una posible solución de la practica P7.
    </p>
</section>