<!DOCTYPE html>
<html>
  <head>
    <title>P7 Quiz Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <header>
     <h1>Práctica 7: Quiz Express</h1>
  </header>

  <nav>
      <a href="/">Home</a>
      <a href="/quizzes">Quizzes</a>
      <a href="/credits">Créditos</a>
  </nav> 

  <%# Lo que se ha sustituido en body, se encuentra en index.ejs %>
  <%# el método res.render asigna el código HTML de la vista a la variable body %>
  <%- body %> 
      <footer>
          <hr />
            <small>CORE 2019-2020</small>
          <hr />
      </footer>
  </body>
</html>
